.portfolio__project {
  .project__image {
    &__headphones {
      background: url(../img/production/portfolio_headphones/portfolio_headphones_mockup_mobile.jpg)
        no-repeat center/cover;
      height: 50vh;

      @include tablet {
        background: url(../img/production/portfolio_headphones/portfolio_headphones_mockup_tablet.jpg)
          no-repeat center/cover;
      }

      @include laptop {
        background: url(../img/production/portfolio_headphones/portfolio_headphones_mockup.jpg)
          no-repeat center/cover;
      }
    }
  }
}
