.portfolio__project {
  .project__image {
    &__social {
      background: url(../img/production/portfolio_social/social-redesign-code-mobile.jpg)
        no-repeat center/cover;
      height: 50vh;

      @include tablet {
        background: url(../img/production/portfolio_social/social-redesign-code-tablet.jpg)
          no-repeat center/cover;
      }

      @include laptop {
        background: url(../img/production/portfolio_social/social-redesign-code.jpg)
          no-repeat center/cover;
      }
    }
  }
}
