.btn--third {
    color: $dark;
    border-bottom: 1px solid $dark;
    font-family: $header;
    text-decoration: none;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 0;
    min-width: 0;
}

p {
    color: #929292;
}