.header--main {
    margin-bottom: 5rem;

    @include tablet {
        margin: 80px 0;
    }

    .container {
        position: relative;

        .header__square {
            border: 32px solid #dbf1ff;
            background: transparent;
            height: 447px;
            width: 447px;
            z-index: -1;
            position: absolute;
            top: 50px;
            right: 50px;

            @include tablet {
                top: 60px;
                right: 550px;
            }

            @include laptop {
                top: 50px;
                left: -200px;
            }
        }

        .header__two-columns {
            align-items: center;

            @include tablet {
                column-gap: 5%;
            }

            .left {
                h1 {

                    font-weight: 600;
                    margin-bottom: 1rem;
                    text-transform: uppercase;

                    @include tablet {
                        margin-bottom: 35px;
                    }
                }

                p {
                    color: $gray;
                    margin-bottom: 2rem;
                    text-transform: capitalize;
                    min-width: 0;

                    @include tablet {
                        margin-bottom: 75px;
                    }
                }

                a {
                    margin-bottom: 2rem;
                    padding-bottom: 10px;
                }
            }

            .right {
                &__image {
                    background: url('//raw.githubusercontent.com/phaybein/branding_portfolio/master/public/img/production/profile-2.JPG')no-repeat right/cover;
                    border-radius: $border-radius;
                    height: 50vh;
                    max-width: 636px;

                    @include tablet {
                        height: 70vh;
                        max-height: 989px;
                    }
                }
            }
        }
    }
}