.media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.media__left {
    flex-grow: 1;
    margin-bottom: 1.59rem;
}

.media__right {
    flex-basis: 13.09rem;
    flex-grow: 9999;
}