nav {
    .container {
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav__logo {
            background: $dark;
            color: $light;
            font-size: 1.5rem;
            font-weight: 700;
            padding: 15px 20px;
            text-transform: uppercase;
        }

        .nav__menu {
            font-size: 1rem;
            text-align: right;
            text-transform: uppercase;

            a {
                color: $dark;
                display: inline-block;
                padding: 5px 10px;
                text-decoration: none;
                transition: $transition;

                &:hover {
                    color: $secondary;
                    font-weight: 600;
                }
            }
        }
    }
}