nav {
    .container {
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .nav__logo.logo {

            .logo__name {
                background: $dark;
                color: $light;
                font-size: 1.3rem;
                font-weight: 700;
                padding: 5px 10px;
                text-transform: uppercase;
                text-decoration: none;

                @include tablet {
                    font-size: 1.5rem;
                    padding: 15px 20px;
                }

            }
        }

        .nav__menu {
            display: none;

            @include tablet {
                display: block;
                font-size: 1rem;
                text-align: right;
                text-transform: uppercase;

            }

            a {
                color: $dark;
                display: inline-block;
                padding: 5px 10px;
                text-decoration: none;
                transition: $transition;

                &:hover {
                    color: $secondary;
                    font-weight: 600;
                }
            }
        }

        .nav__menu--mobile {


            @include tablet {
                display: none;
            }

            a {
                color: $dark;
                text-decoration: none;
                text-transform: uppercase;
            }
        }

        .nav__menu__btn {
            font-size: 2rem;
            padding: 15px;

            @include tablet {
                display: none;
            }
        }
    }
}