section.section__experience {

    .experience__left {
        display: none;

        @include smLaptop {
            display: block;
        }

        .left__square {
            @include smLaptop {
                background: #52b8ff;
                height: 232px;
                width: 232px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .left__inner-square {
                @include smLaptop {
                    border: 4px solid $light;
                    height: 165px;
                    width: 165px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                h3 {
                    @include smLaptop {
                        color: $light;
                    }
                }
            }
        }

        .left__circle {
            border: 30px solid #ffc853;
            border-radius: 50%;
            height: 213px;
            width: 213px;
            display: flex;
            align-items: center;
            justify-content: center;

            h3 {
                color: #ffc853;
            }
        }

        .left__triangle__wrapper {
            height: 231px;
            position: relative;
            width: 266px;

            .left__triangle {
                height: 231px;
                width: 266px;
                display: flex;
                justify-content: center;
                align-items: flex-end;

                h3 {
                    color: #ff5253;
                    margin-bottom: 40px;
                }
            }

            .triangle {
                background: #ff5253;
                clip-path: polygon(49% 0, 0% 100%, 14% 100%, 49% 25%, 48% 25%, 81% 87%, 17% 87%, 14% 100%, 100% 100%, 48% 0);
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
            }
        }

        h3 {
            font-size: 17px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }
}