section {
    .portfolio {
        &__title {
            background: #ffeded;
        }

        &__grid {
            .portfolio__image {
                text-decoration: none;
                transition: $transition;
            }
        }

        &__image-1 {
            background: url('https://images.pexels.com/photos/355070/pexels-photo-355070.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')no-repeat center/cover;
            grid-column: 1 / 3;
        }

        &__image-2 {
            background: url('https://images.pexels.com/photos/1068534/pexels-photo-1068534.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')no-repeat center/cover;
            grid-column: 3;
            grid-row: 1 / 3;
        }

        &__image-3 {
            background: url('https://images.pexels.com/photos/1205301/pexels-photo-1205301.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')no-repeat center/cover;
            grid-column: 1;
            grid-row: 2 / 4;
        }

        &__image-4 {
            background: url('https://images.pexels.com/photos/1527242/pexels-photo-1527242.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')no-repeat center/cover;
            grid-column: 2;
            grid-row: 2 / 5;
        }

        &__image-5 {
            background: url('https://images.pexels.com/photos/908284/pexels-photo-908284.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')no-repeat center/cover;
            grid-column: 1;
            grid-row: 4 / 6;
        }

        &__image-6 {
            background: url('https://images.pexels.com/photos/206392/pexels-photo-206392.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')no-repeat center/cover;
            grid-column: 2;
            grid-row: 5 / 6;
        }

        &__image-7 {
            background: url('https://images.pexels.com/photos/669005/pexels-photo-669005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')no-repeat center/cover;
            grid-column: 3;
            grid-row: 3 / 6;
        }
    }
}