.services {
    &__container {
        .services__title {
            background: #eef9ff;
            border-radius: 50%;
            height: 100px;
            margin: 0 auto 2rem;
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include tablet {
                height: 150px;
                margin: 0 auto 55px;
                width: 150px;
            }

            @include laptop {
                height: 230px;
                width: 230px;
            }

            h2 {
                font-size: 27px;
                letter-spacing: 4px;
                text-transform: uppercase;

                @include tablet {
                    font-size: 40px;
                }

                @include laptop {
                    font-size: 61px;
                    letter-spacing: 11px;
                }
            }
        }

        .card-column-layout {
            .call-out {
                padding-bottom: 2rem;

                @include tablet {
                    padding-bottom: 72px;
                }

                i {
                    font-size: 3rem;
                }

                h4 {
                    margin: 1rem 0;
                    text-transform: uppercase;

                    @include tablet {
                        margin: 47px 0 31px;
                    }
                }

                p {
                    color: $gray;
                }
            }

            .call-1 {
                border-bottom: 4px solid #52b8ff;
            }

            .call-2 {
                border-bottom: 4px solid #ff5253;
            }

            .call-3 {
                border-bottom: 4px solid #ffc853;
            }
        }
    }
}